

body {
  background: linear-gradient(90deg, rgba(209, 209, 209, 0.956) 0%, rgba(230,230,230,1) 15%, rgba(237,237,237,1) 30%, rgba(249,249,249,1) 50%, rgba(237,237,237,1) 70%, rgba(230,230,230,1) 85%, rgba(209, 209, 209, 0.956) 100%);
  position: relative;
  text-align: center;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  width: 100%;

}

h1 {
  font-size: 7vw;
  text-transform: uppercase;
  margin-bottom: 0px;
}

h2 {
  font-size: 5vw;
  text-transform: uppercase;
}

h3 {
  font-size:2.5vw;
  margin: 0px;
}


p{
  font-family: 'Albert Sans', sans-serif;
  font-size: 1.8vw;
}
